{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Items</title>
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">
    <script type="text/javascript" rel="script" src="{% static 'shop/js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" rel="script" src="{% static 'shop/js/popper.min.js' %}"></script>
    <script type="text/javascript" rel="script" src="{% static 'shop/js/bootstrap.js' %}"></script>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Shop Lyf</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <button id="cart_nav" data-html="true" type="button" class="btn btn-secondary" data-container="body"
                                    data-toggle="popover"
                                    data-placement="bottom" data-content="Empty Cart">
                                Cart(0)
                            </button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input class="form-control form-control-borderless " type="search" placeholder="Search Products"
                               name="product_search">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success"> Search

                        </button>
                    </div>

                </div>
            </form>
        </div>

    </div>


    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <a href="{% url 'detail' product.id %}"> <img height="250" width="250" class="card-img-top"
                                                                  src="{{ product.Product_image }}">
                    </a>
                    <div class="card-body">
                        <div class="card-title">
                            <h4 id="nm{{ product.id }}"> {{ product.product_name }} </h4>
                        </div>
                        <div class="card-text">
                            Price: <b># {{ product.product_price }}</b>

                        </div>
                        <div>
                            <a href="{% url 'detail' product.id %}" class="btn  btn-success"> View</a>

                            <button id="{{ product.id }}" class="btn atc btn-success"> Add to cart</button>
                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <div class="row p-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item">

                    <a class="page-link" href="?page={{ products.previous_page_number }}"> Prev</a>
                {% endif %}
                </li>
                {% if products.has_next %}

                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                    </li>

                {% endif %}
            </ul>
        </div>

    </div>
</div>


</body>
<script type="text/javascript">


    let cart = {};
    if (localStorage.getItem('cart') == null) {
        cart;
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    $(document).on('click', '.atc', function () {
        let id = this.id.toString();

        if (cart[id] != undefined) {
            cart[id] = cart[id] + 1;

        } else {
            cart[id] = 1;
        }

        localStorage.setItem('cart', JSON.stringify(cart));
        cart_item = Object.keys(cart).length;
        document.getElementById("cart_nav").innerHTML = "Cart (" + cart_item + ")"

    })
    $(function () {
        $('[data-toggle="popover"]').popover()
        ShowCart(cart)

    })

    function ShowCart(cart) {
        let cartItems = "";
        cartItems += "<h5> Items in cart</h5>";
        let cartIndex =1;
        for (let x in cart){
            cartItems += cartIndex;
            cartItems += document.getElementById("nm"+x).innerHTML + ",Qty: " + cart[x] + "</br>";
            cartIndex +=1
        }
        cartItems += "<a class='btn btn-success' href='/checkout'>Checkout</a>";
        document.getElementById('cart_nav').setAttribute('data-content', cartItems)


    }

</script>

</html>